.weather-card {
    background: linear-gradient(350deg ,#00d9ff,rgba(17, 0, 255, 0.589));
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) ;
    width: 300px;
    text-align: center;
    color: white;
}

.location h1 {
    margin: 0;
    font-size: 24px;
}

.location h2 {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 300;
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.weather-info .temp {
    font-size: 48px;
    margin-right: 20px;
}

.weather-info .icon img {
    width: 80px;
    height: 80px;
}

.details p {
    margin: 5px 0;
    font-size: 16px;
}
.cloud_image{
    position:absolute;
    filter: drop-shadow(5px 0px 20px rgb(1, 14, 43));
}
.cloud_img{
    position:absolute;
    width: 300px;
    height: 280px;
}
.cloud1{
    top:50%;right:-20%;
    transition: 0.5s;
    width: 250px;
}

.cloud2{
    top:20%;right:55%;
    transition: 0.9s;
    
}
.cloud3{
    top:-45%;right:5%;
    transition: 0.9s;
    
}
.sun{
    width: 70px;
    height: 70px;
    background: linear-gradient(#ffae00,#ff7300);
    position: absolute;
    right: -10%;
    top: 70%;
    border-radius: 50%;
    filter: drop-shadow(-5px -10px 20px  rgb(255, 123, 0));
    transition: 0.7s;
}
.cloud_img:hover{
            .cloud1{
                top:60%;right:-20%;
                transition: 0.9s;
            }
            .cloud2{
                top:20%;right:70%;
                transition: 0.9s;
            }
            .cloud3{
                top:-50%;right:5%;
                transition: 0.9s;
            }
            .sun{
                right: -10%;
                top: 80%;
                transition: 0.7s;
            }
}
.dot{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px#ffffff;
    position: absolute;
    display: flex;
    top: 0%;
}

